html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.descriptions p {
  font-family: "Work Sans", sans-serif;
  font-size: large;
}

/**
* Practice content Styles
*/

#gesture {
  font-family: "Montserrat", sans-serif;
}

.practice-options {
  background-color: #a25b5b;
  border: #cc9c75 1px solid;
  height: 50px;
}

.practice-options > .practice-sections {
  display: flex;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 0.5vw;
}

.practice-options > .practice-sections > .option a {
  text-decoration: none;
  color: #d5d8b5;
  text-transform: capitalize;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  transition: 0.5s;
}

.practice-options > .practice-sections > .option a:hover {
  text-decoration: underline;
}

/**
Options section 
*/

.options-wrapper {
  display: flex;
  justify-content: center;
}

.options-wrapper > .block-wrapper {
  width: 1500px;
}

.options-wrapper > .block-wrapper > .square {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.square > .block-header {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 42px;
  border: #cc9c75 1px solid;
}

  .square > .block-header > .block-header-link {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 5rem;
  font-weight: 1000px;
  transition: 0.75;
  color:black
}

.square > .block-header > .practice-button {
  font-family: 'Work Sans', sans-serif;
  background-color: #a25b5b;
  color:#d5d8b5; 

  border:none;
  text-decoration: none;
  width: 150px;
  text-align: center;
 

}

.square > .block-image{
  border: #cc9c75 1px solid;
}

.square > .block-image{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.block-image > .quote-wrapper{
  font-family:'Work Sans', sans-serif; 
  margin-left: -24px;
  margin-top: 125px; 
  margin-right: 50px;
  font-size: 20px;
}

.select {
  color: mediumseagreen;
  text-decoration: none;
}

.time-select {
  color: cadetblue;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  background-size: contain;
}


