

@media (max-width: 1000px) {
    .user-selections-wrapper > .user-time-selection{

        /*
        margin-left: 75px; 
        margin-right: 20px;
        */
    
        /*Vertical choice*/
        margin-left: 50px !important; 
        margin-right: 50px !important;
        
    }
    
    .user-selections-wrapper > .user-image-selection{
        /*
        margin-right: 75px;
        */
    
        /* vertical choice */
        margin-right: 50px !important;
        margin-left: 50px !important; 
        
    }
  }

.user-selections-wrapper {
    display: grid;
    grid-template-columns: 2fr;
}

.user-selections-wrapper > .user-time-selection{

    /*
    margin-left: 75px; 
    margin-right: 20px;
    */

    /*Vertical choice*/
    margin-left: 350px; 
    margin-right: 350px;
    
}

.user-selections-wrapper > .user-image-selection{
    /*
    margin-right: 75px;
    */

    /* vertical choice */
    margin-right: 350px;
    margin-left: 350px; 
    
}

.card > .card-header{
    background-color: #a25b5b;
}

.selection-header{
    color:#d5d8b5;
}